<link rel="stylesheet" href="~/css/navbar.css" />


<nav class="navbar navbar-expand-lg navbar-dark navbar-glass fixed-top px-4">
    <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="/images/logo.png" alt="TicketSprint Logo" style="height: 40px; margin-right: 10px;" />
        <span class="fw-bold text-white">TicketSprint</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item"><a class="nav-link" href="/Index">Acasă</a></li>
            <li class="nav-item"><a class="nav-link" href="/Favorites">Favorite</a></li>
            <li class="nav-item"><a class="nav-link" href="/Cart">Coș bilete</a></li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/Login">Logare</a></li>
            <li class="nav-item"><a class="nav-link" href="/Register">Înregistrare</a></li>
        </ul>
    </div>
</nav>
